<div class="my-3 rounded box-shadow">
  <div class="media text-muted">
    <div class="media text-muted border-bottom border-gray">
      <div class="row">
        <div class="col-1">
          <img alt="32x32" class="mr-2 rounded"
               data-holder-rendered="true" data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1"
               src="{{tweet.avatar}}"
               width="60px">
        </div>
        <div class="col-9 mb-3">
          <p class="media-body pb-3 mb-0 small lh-125">
            <strong class="d-block text-gray-dark">@{{ tweet.username }}</strong>
            <strong>{{ tweet.firstName }} {{ tweet.lastName }}</strong>
            <br>
            {{ tweet.tweet }}
          </p>
          <div class="row">
            <div class="col-md-auto">
              <button (click)="like(tweet.tweetId)" class="btn btn-sm btn-outline-danger"><fa-icon [icon]="faLike"></fa-icon> {{ tweet.likes == "0" ? "Like" : tweet.likes }}</button>
            </div>
            <div class="col-md-auto">
              <button class="btn btn-sm btn-outline-success" (click)="openReplyModal()" ><fa-icon [icon]="faReply"></fa-icon> {{ tweet.reply.length == 0 ? "Reply" : tweet.reply.length }}</button>
            </div>
            <div class="col-md-auto" *ngIf="username === tweet.username">
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="openEditModal()"><fa-icon [icon]="faEdit"></fa-icon> Edit</button>
            </div>
            <div class="col-md-auto" *ngIf="username === tweet.username">
              <button type="button" class="btn btn-sm btn-warning" (click)="deleteTweet(tweet.tweetId)"><fa-icon [icon]="faDelete"></fa-icon> Delete</button>
            </div>
          </div>
        </div>
        <div class="col">
          <small> {{ tweet.timestamp }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
