<div class="mb-2">
  <form>
    <div class="input-group">
      <input (ngModelChange)="search()" name="tweet" [(ngModel)] = "query" class="form-control" size="6" aria-label="Post Something" placeholder="Type username" />
    </div>
  </form>
</div>

<div *ngFor="let user of userList">
  <div class="card mb-2">
    <div class="card-body">
      <div class="d-flex justify-content-start align-items-center mb-1">
        <div class="avatar me-1">
          <img src="{{user.avatar}}" alt="avatar img" height="50" width="50">
        </div>
        <div class="profile-user-info">
          <strong class="d-block">@{{ user.username }}</strong>
          <h6 class="mb-0">{{ user.firstName }} {{ user.lastName }}</h6>
          {{ user.gender }}
        </div>
      </div>
    </div>
  </div>
</div>
