.card {
    margin-bottom: 2rem;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
  }
  
  .avatar {
    white-space: nowrap;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
  }
  
  .avatar img {
    border-radius: 50%;
  }