<div class="modal-header">
  <h4 class="modal-title">Edit Tweet</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="input-group">
    <input class="form-control" type="text" [(ngModel)] = "tweetUpdated"  name="tweetUpdated" value="{{ tweet }}">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">Cancel</button>
  <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
</div>
